.main {
    min-height: 90vh;
}

.about {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__picture {
        img {
            width: 14rem;
        }
    }

    &__info {
        width: 40%;
        text-align: center;
    }

    &__heading {
        font-size: 1.7rem;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: var(--text-color-primary);
        padding: 1rem 0;
        margin: 1rem 0;
    }

    &__description {
        color: var(--text-color-secondary);
    }
}

@media only screen and(max-width: 750px) { 
    .about {
        &__heading {
            font-size: 1.4rem;
        }

        &__info {
            width: 50%;
        }

        &__description {
            font-size: .9rem;
        }

        &__picture {
            img {
                width: 12rem;
            }
        }
    }
    
}

@media only screen and(max-width: 500px) { 
    .about {
        &__heading {
            font-size: 1.3rem;
        }
        &__info {
            width: 65%;
            padding-bottom: 2rem;
        }

        &__description {
            font-size: 1rem;
        }

        &__picture {
            img {
                width: 10rem;
            }
        }
    }
    
}