.setup {
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	&__img {
		box-sizing: border-box;
		width: 25rem;
		border: 2px dashed var(--text-color-primary);
		padding: 1.5rem;
		margin-right: 7rem;
	}

	&__heading {
		display: inline-block;
		color: white;
		background-color: var(--text-color-primary-colored);
		padding: 0.5rem 1rem;
		transform: skewY(-8deg);
		font-size: 1rem;
	}

	&__list {
		&__item {
			list-style-type: square;
			color: var(--text-color-primary--dark);
		}
	}
}

@media only screen and (max-width: 1000px) {
	.setup {
		&__container {
			flex-direction: column;
			justify-content: center;
			margin-top: 4rem;
		}

		&__img {
			margin-right: 0;
		}

		&__description {
			width: 80%;
			margin: 3rem 0;
		}
	}
}

@media only screen and (max-width: 400px) {
	.setup {
		&__container {
			margin-top: 2rem;
		}

		&__img {
			width: 15rem;
		}

		&__description {
			width: 80%;
			margin: 2rem 0;
		}

		&__heading {
			font-size: 0.9rem;
		}
	}
}
