/* Root stylesheet */
*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

:root {
	--background-color: #edebeb;
	--text-color-primary: #6b6a6a;
	--text-color-primary--dark: #605f5f;
	--text-color-secondary: #848181;
	--text-color-primary-colored: #ed7615;
	--text-color-primary-colored--dark: #b3580d;
	--card-background-color: #dddcdc;
	--card-background-color-hover: #c6c5c5;
}

[data-theme="dark"] {
	--background-color: #0a0a0a;
	--text-color-primary--dark: #605f5f;
	--text-color-primary: #dddddd;
	--text-color-secondary: #bfbfbf;
	--text-color-primary-colored: #f47916;
	--text-color-primary-colored--dark: #cb5f09;
	--card-background-color: #212121;
	--card-background-color-hover: #131313;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	transition: all 1.5s;
	color: var(--text-color-secondary);
}

@import "projects.scss";
@import "courses.scss";
@import "books.scss";
@import "contact.scss";
@import "about.scss";
@import "setup.scss";
@import "admin/login.scss";
@import "admin/dashboard.scss";

.app {
	min-height: 100vh;
	&__header {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

.logo {
	margin: 2rem 0 0 6rem;
}

.themeButton {
	padding: 1rem 1rem 0 0;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	&__img {
		max-width: 100%;
		max-height: 100%;
	}
}

.alignRight {
	margin-left: auto;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.intro {
	align-self: flex-start;
	margin: 3rem 0 4rem 10rem;

	&__subtext {
		text-transform: uppercase;
		display: inline-block;
		font-weight: 300;
		font-size: 1rem;
	}

	&__heading {
		margin-top: 1rem;
		font-weight: 700;
		font-size: 1.3rem;
		color: var(--text-color-primary);
	}
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	row-gap: 3rem;
	margin: 3rem 0;
	justify-items: center;
	width: 75%;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
}

.card {
	width: 18.75rem;
	background-color: var(--card-background-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 1rem;
	transition: all 1s;

	&:hover {
		transform: translateY(-8px);
	}
}

/* HOME */
.card {
	&__home {
		align-items: flex-start;
		padding: 2rem 2.5rem;

		&__title {
			color: var(--text-color-primary-colored);
			text-transform: uppercase;
			font-size: 1.3rem;
			position: relative;

			&::after {
				content: "";
				width: 100%;
				border-bottom: solid 2px #d0d0d0;
				position: absolute;
				left: 0;
				top: 150%;
				z-index: 1;
			}
		}
	}
}

/* MEDIA QUERIES */
@media only screen and(min-width: 1200px) {
	.intro {
		margin: 2.5rem 0 1rem 6rem;
	}

	.cards {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

		&_home {
			margin-top: 0;
		}
	}

	.card {
		width: 20rem;
	}
}

@media only screen and (max-width: 1200px) {
	.intro {
		margin: 4rem 0 1rem 4rem;

		&__subtext {
			font-size: 0.8rem;
		}

		&__heading {
			font-size: 1.5rem;
		}
	}

	.cards {
		grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
		&__container {
			margin: 1rem 0;
		}
	}

	.card {
		width: 31.25rem;
	}
}

@media only screen and (max-width: 800px) {
	.intro {
		margin-left: 4rem;
		margin-top: 3rem;
		margin-bottom: 2.5rem;

		&__subtext {
			font-size: 0.8rem;
		}

		&__heading {
			font-size: 1.2rem;
		}
	}

	.cards {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		&__container {
			margin: 1rem 0;
		}
	}

	.card {
		width: 400px;
	}
}

@media only screen and (max-width: 500px) {
	.app {
		&__header {
			margin-bottom: 2rem;
		}
	}

	.intro {
		margin-left: 4rem;
		margin-top: 3rem;

		&__subtext {
			font-size: 0.8rem;
		}

		&__heading {
			font-size: 1.2rem;
		}
	}

	.cards {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		&__container {
			margin: 1rem 0;
		}
	}
}

@media only screen and (max-width: 300px) {
	.intro {
		margin-left: 2rem;
	}

	.cards {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}
